.App {
  background-color:#F9F9FB;
  text-align:center;
  height:100%;
  width:100%;
  box-sizing: border-box;
}
.header{
  text-transform: uppercase;
  font-size:20px;
  color:#A9ACBD;
  letter-spacing: 0.2rem;
  -webkit-font-smoothing: antialiased;
  margin:16px;
}
